#GameBoard {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}
.square {
  font-size: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 200px;
}
